# Copied from Sandstorm
bin
tmp
deps
node_modules
shell-build
sandstorm-*.tar.xz
bundle/
.docker
.shell-env
.vagrant/
phantomjsdriver.log
selenium-debug.log

# Added for Blackrock
dbg
config.capnp
oasis-config
testrock-config
blackrock.tar.xz
local-config
.local
